h3 {
    margin:0 0 16px 0 ;
}

#contacts {
    margin: 0;
    padding: 0;
}

#pageName {
    color: #dc001a;
    font-style: italic;
    font-size: 12pt;
}

#pageName p {
    margin: 0;
}

#university p{
    margin: 1px;
}