.pageName {
    color: #dc001a;
    margin-top: 0;
}

.redTxt {
    color: #dc001a;
    font-style: italic;
    margin: 0;
}

.exbitionsTxt h3{
    margin: 5px 0 0 0;
}

.exbitionsTxt a{
    color: #dc001a;
    text-decoration: underline;
}

