.pageName {
    color: #dc001a;
    margin-top: 0;
}

.exhibitionsImg {
    float: left;
    margin-right: 30px;
}

.exhibitionCollection {
    padding-top: 75px;
}

.exhibitionCollection a{
    color: #dc001a;
    text-decoration: underline;
}

.exbitionsTxt {
    clear: both;
}

.redTxt {
    color: #dc001a;
    font-style: italic;
    margin: 0;
}

.exbitionsTxt h3{
    margin: 5px 0 0 0;
}

.exbitionsTxt a{
    color: #dc001a;
    text-decoration: underline;
}

.paging {
    margin: 20px 0 0 0;
}

.paging div {
    width: 4%;
    margin: auto;
}

.paging a {
    color: #dc001a;
    font-style: italic;
}
