.namePage {
    color: #dc001a;
}

.contentImage {
    float: left;
    margin-right: 20px;
}

.contentTxt {
}

.contentTxt p {
    text-align: justify;
}

.contentTxt a {
    color: #dc001a;
    font-style: italic;
    text-decoration: none;
}